*{
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat; 
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
}
 
.main{
    width: 35%;
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    align-items: center;
    background-color: white;
}
.img img{
    width: 100%;
}

.content{
    padding: 7%;
    overflow: hidden;
}

.title{
    font-weight: 900;
}

.para{
    font-weight: 500;
    color: darkgrey;
    padding: 6%;
    font-size: 16px;
}

.pricing{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}

.plan-title{
    font-weight: 700;
}

.plan-price{
    color: darkgray;
}
a{
    color:  hsl(245, 75%, 52%);
    font-weight: 700;
}

.pay{
    background-color:hsl(245, 75%, 52%);
    color: white;
    padding: 3%;
    border-radius: 10px;
    margin: 5% 0;
    text-shadow: 2%;
    cursor:pointer;
}

.cancel{
    color:darkgray;
    cursor:pointer;
}